.app {
 background-color: rgba(50, 58, 91, 0.17);
 overflow: hidden;
 width: 80%;
 border-radius: 14px;
 backdrop-filter: blur(15px);
 -webkit-backdrop-filter: blur(15px);
 font-size: 15px;
 font-weight: 500;
 z-index: -5;
}

.logogrid {
   margin: 30px;
	 display: grid;
	 grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	 grid-auto-rows: 75px;
	 grid-gap: 4rem;
   z-index: 5;
}
 .logogrid__item {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .logogrid__img {
	 object-fit: cover;
	 max-width: 120px;
	 max-height: 60px;
	 filter: grayscale(100%) contrast(25%);
	 transition: filter 0.3s ease;
}
 .logogrid__img:hover {
	 filter: grayscale(0) contrast(100%);
}

 .container {
	 width: 90%;
	 max-width: 1000px;
	 margin: auto;
   display: flex;
	 flex-direction: column;
	 justify-items: center;
	 min-height: 65vh;
}
.text_colour{
  color: rgb(0, 102, 204);
}
.shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
              0 2px 2px rgba(0,0,0,0.15),
              0 4px 4px rgba(0,0,0,0.15),
              0 8px 8px rgba(0,0,0,0.15);
}
